*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}
.center{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}
.clear{
	clear: both;
}
a{
	text-decoration: none;
}
.w50{
	float: left;
	width: 50%;
	padding: 0 15px;
}

/* Header */
header{
	background: #5e3ea1;
	padding: 10px 0;
}
header >.center{
	display: flex;
}
.logo{
	width: 50%;
	color: white;
	font-size: 21px;
}
.menu {
	width: 50%;
	text-align: right;
}
.menu li{
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
}
.menu a{
	color: white;
}
.logo a{
	
	color: white;
}

/* texto - chamada */

section.texto-chamada{
	background: #4c3282;
	padding: 30px 0;
	text-align: center;
	color: white;
}
section.texto-chamada i{
	font-size: 40px;
}
section.texto-chamada h2,
section.texto-chamada h3{
	font-weight: normal;
}
section.texto-chamada h2 > b{
	color: rgb(231, 66, 107);
}

/* loja */

section.loja{
	padding: 30px 0;
}
section.loja > .center{
	display: flex;
	flex-wrap: wrap; 
}
.loja-wraper{
	width: 33.3%; 
	padding: 20px;
	margin-bottom: 20px;
}
.box-single-loja{
	height: 100%;
	border: 1px solid rgb(225,225,225);
}
.box-single-loja img{
	max-width: 100%;
}
.box-single-loja h2{
	margin-top: 15px;
	text-align: center;
	padding: 0 8px;
	font-weight: normal;
}
.box-single-loja p{
	padding: 15px 8px;
	font-size: 15px;
	color: rgb(10,10,10);
}

.loja-wraper a{
	color: white;
	background: #5fb382;
	padding: 10px 8px;
	text-align: center;
	display: block;
	width: 100%;
}


/*Efeito Paralax */

section.paralax{
	padding: 30px 0;
	width: 100%;
	min-height: 200px;
	background-image: url('../images/rio.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
section.paralax h2.chamada-paralax{
	border:1px solid red;
	background: red;
	padding: 5px 25px;
	color: white;
	font-size: 18px;
	display: inline-block;
	margin-top: 40px;
}
section.paralax p{
	margin-top: 10px;
	color: white;
}
.line-text{
	position: relative;
	display: inline-block;
	color: #52aaa7;
	margin-top: 5px;
	margin-left: 100px;
}
.line-text > div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 3px;
	background: #5e3ea1;
}
.line-text h2{
	font-weight: normal;
	font-size: 27px;
	color: #5e3ea1;
}

/* seção equipe*/

section.servicos{
	padding: 40px 0;
}

.servicos-circles{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
}
.servicos-circles-single{
	text-align: center;
	padding: 0 20px;
	width: 33.3%;
}
.servicos-circles-single h3{
	margin-top: 10px;
	font-weight: normal;
	font-size: 20px;
}
.servicos-circles-single p{
	font-weight: lighter;
}
.avatar-single{
	position: relative;
	margin: 0 auto;
	width: 60%;
	padding-top: 60%; 
}
.avatar-single-container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background: #ccc;
	background-size: 100% 100%;
}


/* Novidades */

section.novidades{
	padding: 30px 0;
}
.w50 h1{
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: normal;
	color: #4b4b4b;
}
.box-single-noticia h2{
	font-size: 21px;
	font-weight: normal;
	color: rgb(100,100,100);
}
.box-single-noticia{
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
}
.box-single-noticia p{
	font-size: 16px;
	font-weight: normal;
	color: rgb(110,110,110);
}

/* Entre em Contato */

p.tag-contato{
	color: white;
	background: #5e3ea1;
	text-align: center;
	margin-top: 5px;
	padding: 8px 0;

}

/* Footer */

footer{
	padding: 20px 0;
	background: #3c2e58;
	color: white;
}
.text-right{
	text-align: right;
}

/* Mobile */

@media screen and (max-width: 768px){
	.menu{
		width: 70%;
	}
	.loja-wraper{
		width: 100%;
		max-width: 500px; 
		padding: 20px;
		margin-bottom: 20px auto;
	}
	.w50{
		width: 100%;
		margin-bottom: 30px;
	}
	.line-text{
	margin-left: 30px;
	}
	.servicos-circles-single{
	text-align: center;
	padding: 0 20px;
	width: 100%;
	margin-bottom: 30px;
	}
	footer{
		text-align: center;
	}
	footer p{
		text-align: center;
	}
	

}
